<mtapp:setting
  id="upload_folder_base"
  label="<__trans phrase="Upload Folder Base">"
  hint="<__trans phrase="A folder within the site root to place your assets (eg assets/ or images/%Y/%m/).">"
  show_hint="1">
    <input type="text" name="upload_folder_base" id="upload_folder_base" 
       value="<mt:var name="upload_folder_base">" />
</mtapp:setting>

<mtapp:setting
  id="name_of_siteroot"
  label="<__trans phrase="Name of Site Root">"
  hint="<__trans phrase="Change text of &quot;Site Root&quot; in display.">"
  show_hint="1">
    <input type="text" name="name_of_siteroot" id="name_of_siteroot" 
       value="<mt:var name="name_of_siteroot">" />
</mtapp:setting>

<mtapp:setting
  id="date_based_default"
  label="<__trans phrase="Remove date-based folder option">"
  hint="<__trans phrase="Check this box to Remove date-based directory appear.">"
  show_hint="1">
    <input type="checkbox" name="date_based_default" id="date_based_default" 
       value="1" <mt:if name="date_based_default"> checked="checked"</mt:if /> />
</mtapp:setting>

<mtapp:setting
  id="ignore_root_path"
  label="<__trans phrase="Disabled Upload Site Root">"
  hint="<__trans phrase="Check this box to Never Upload Site Root.">"
  show_hint="1">
    <input type="checkbox" name="ignore_root_path" id="ignore_root_path" 
       value="1" <mt:if name="ignore_root_path"> checked="checked"</mt:if /> />
</mtapp:setting>

<mtapp:setting
  id="change_path_disabled"
  label="<__trans phrase="Disabled for user change upload path.">"
  hint="<__trans phrase="Check this box to User won't change upload path.">"
  show_hint="1">
    <input type="checkbox" name="change_path_disabled" id="change_path_disabled" 
       value="1" <mt:if name="change_path_disabled"> checked="checked"</mt:if /> />
</mtapp:setting>

<mt:ignore><mtapp:setting
  id="admin_only"
  label="<__trans phrase="Enabled for admin change upload path.">"
  hint="<__trans phrase="Check this box to Admin will change upload path.">"
  show_hint="1">
    <input type="checkbox" name="admin_only" id="admin_only" 
       value="1" <mt:if name="admin_only"> checked="checked"</mt:if /> />
</mtapp:setting></mt:ignore>